@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400&family=Quicksand:wght@500&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400&family=Roboto+Slab:wght@100;200;300;400&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color:white;
}
#fullpage{
  height: 100%;
}
li{
  list-style: none;
}

body {
  position: relative;
  /* background: rgba(0, 0, 0, 0.897); */
  height: 100vh;
  background-color: #000000;
  
  /* overflow: hidden; */
  /* position: absolute;
  width: 100%; height: 100%;
background-position: center; */
}
button{
  border: none;

}
p{
  font-size: 18px;
  margin-bottom: 10px;   
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
  font-weight: 100;
}

@media
(prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
/* body {
  background: linear-gradient(to bottom, #212121, #424242,black);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
} */
/* @keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */
.home_div{
  position: relative;
  height: 100vh;
  background-image: url(/img/Background_Moon.jpg) ;
  background-size:cover;
  background-position: center center;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  opacity: 0.9;
  z-index: 9999;
  width: 100%;
  position: fixed;
  height: 63px;  
}
a {
  text-decoration: none;
  color: #fff;
}
.nav_left a {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 2rem;
  padding-left: 12px;
  font-weight: bold;
}
a:hover {
  cursor: pointer;
}
.link_div {
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
  display: flex;
  align-items: center;
}
.nav-links {
  display: flex;
  margin-right: 15px;
}
.nav-links li {
  list-style: none;
  margin-left: 25px;
}
.nav-links li a {
  position: relative;
  color: #ffffff;
  text-decoration: none;
}

.active{
  text-decoration: underline;
  text-decoration-color: rgb(43, 116, 175);
  font-weight: bold;
  border:#FFF;
}
/* .nav-links li a:hover {
  cursor: pointer;
}

.nav-links li a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out 0s;
}

.nav-links li a:hover::before,
.nav-links li a.active::before {
  visibility: visible;
  transform: scaleX(1);
}

.nav-links li a:active {
  transform: translateY(2px);
} */


/* .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #2509c7;
  opacity: 0.9;
  z-index: 9999;
}
.navbar{
  width: 100%;
  position: fixed;
  height: 63px;
}

a {
  text-decoration: none;
  color: #fff;
}

.nav_left a {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 2rem;
  padding-left: 12px;

  font-weight: bold;
}

a:hover {
  cursor: pointer;
}

.link_div {
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  margin-right: 15px;
}

.nav-links li {
  list-style: none;
  margin-left: 25px;
}
.nav-links li a {
  position: relative;
  color: #fff;
  text-decoration: none;
}

.nav-links li a:hover {
  cursor: pointer;
}

.nav-links li a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out 0s;
}

.nav-links li a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.nav-links li a:active {
  transform: translateY(2px);
} */


/* .contact {
  margin-left: 20px;
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  background-color: #0026ffa1;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.contact:hover {
  background-color: #2509c7;
  color: #fff;
} */
/* End Of Navbar */
.container {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
}
.h1 {
  font-weight: bold;
  font-size: 48px;
}
.h1,.h3,.ello{
  color: white;
  font-family:'Nunito Sans', sans-serif;
}
.h6{
  font-size: 14px;
  font-family:cursive;
  opacity: 60%;
}
.h3 {
  font-size: 30px;
}

.child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start;
}
         
.space_btn {
font-size: 20px;
background-color: black;
height: 45px;
width: 100px;
margin: 20px 0px;
border-radius: 60px;
}

.space_btn:hover {
  background-position:  right center; 
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}


/*End of Text*/
/* .social-icons {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 20px;
  z-index: 9999;
}

.social-icons ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-icons li {
  margin: 10px 0;
}

.social-icons a {
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  color: #999;
  transition: all 0.3s ease;
}

.social-icons a:hover {
  color: #FFF;
}

.social-icons a:hover:before {
  content: attr(data-title);
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
  color: #FFF;
  font-size: 12px;
  padding: 5px;
  border-radius: 5px;
  opacity: 0;
  transition: all 0.3s ease;
}

.social-icons a:hover:before {
  opacity: 1;
  top: -45px;
}

.social-icons .fab {
  font-size: 24px;
} */

.social-icons {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 20px;
  z-index: 9999;
}

.social-icons ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-icons li {
  margin: 10px 0;
}

.social-icons a {
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  transition: all 0.3s ease;
  position: relative;
  border-radius: 20%;
  color: black;

}

.social-icons i {
  display: block;
}


.social-icons a:hover {
  color: #FFF;
}

.social-icons a:hover:before {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  font-family:  'Nunito Sans', sans-serif;
  font-size: 12px;
  padding: 5px;
  border-radius: 5px;
  opacity: 0;
  transition: all 0.3s ease;
}

.social-icons a:hover:before {
  opacity: 1;
  content: attr(data-title);
  top: -60px;
}
.social-icons a i {
  font-size: 24px;
  transition: all 0.3s ease;
  /* color: #000000; */
}

.social-icons a:hover i {
  transform: scale(1.2);
}
/*Section start*/
/* .sections div{
  margin-top: 20px;
  font-family: sans-serif;
  padding: 20px;
  margin: 40px;
  text-align: center;
} */
/* .s1_div{
position: absolute;
margin:0px auto;
left:0;
right:0;

} */
/* .profile{
 width: 350px;
 border-radius: 190px;
 border:  3px solid #3d1010;

} */
.sections {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  width: 100%;
  padding:  40px 10%;
  }

/* .profile {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
} */
.about_div {
  font-size: 21px;
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Roboto Slab', serif;
}
#sections .s1_div{
display: grid;
grid-template-columns: 1fr 6fr;
grid-gap: 70px;
}
.s1_div .profilediv{
  position: relative;
  min-width: 300px;
  height: 380px;
}
.profilediv img{
  margin-top: 18px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 2;

}
.s1_div .profilediv::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  outline:  4px solid #fff;
  top: 9%;
  left: 8%;
  z-index: 1;
}
/* .para_div{
  margin-top: 16px;
  opacity: 70%;
  color: #9f9f9f;;
} */
/* .para_div:last-child{
  line-height: 1.4;
  border-bottom: 5px solid #9f9f9f;
  padding-bottom: 15px;  
  margin-bottom: 2px;
} */
.para_div {
  margin-top: 16px;
  opacity: 70%;
  padding-bottom: 10px;
  border-bottom: 3px solid;
  color: #9f9f9f;
}
.content-info {
  margin-top: 10px;
  font-family: 'Lucida Sans';
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* .content-info{
  margin-top: 30px;
 font-family: 'Lucida Sans';
 display: flex;
 flex-wrap: wrap;
} */
/* .row:last-child{
  margin-left: 70px
} */
address{
  font: unset;
  font-family: Lucida Sans;
}
.cv_btn{
  outline-style: none;
  font-family: Lucida Sans;
  margin-top: 5px;
  font-size: 23px;
  height: 50px;
  width: 175px;
  border-radius: 25px;
  color: #fff;
  background-color: rgb(117, 26, 10);
}